Repository Fatih-Bucaklioglu/PyPDF-Tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: bash -c 'cd web && npm run lint:fix'
  language: system
  require_serial: true

prettier:
  name: prettier
  entry: bash -c 'cd web && npm run format'
  language: system
  require_serial: true

Rename src/pypdf_tools/features/pdf_viewer.py to src/features/pdf_viewer.py
  src/features/pdf_viewer.py
Due: none

Rename src/pypdf_tools/web/build/index.html to src/web/build/index.html
  src/web/build/index.html
Due: none

Delete ui directory
  ui/__init__.py
  ui/content.py
  ui/header.py
  ui/settings_dialog.py
  ui/sidebar.py
  ui/welcome_wizard.py
Due: none

Delete tests/test_appimage.sh
  tests/test_appimage.sh
Due: none

Delete tests/test_ocr_module.py
  tests/test_ocr_module.py
Due: none

Delete tests/test_pdf_utils.py
  tests/test_pdf_utils.py
Due: none

Delete tests/test_ui_components.py
  tests/test_ui_components.py
Due: none

Delete resources directory
  resources/__init__.py
  resources/pdf_utils.py
Due: none

Delete scripts directory
  scripts/build-appimage.sh
  scripts/build-deb.sh
  scripts/build-dmg.sh
  scripts/build-rpm.sh
  scripts/install-windows.ps1
  scripts/install.sh
Due: none

Delete packages directory
  packages/linux/AppImageBuilder.yml
  packages/linux/debian/changelog
  packages/linux/debian/control
  packages/linux/debian/copyright
  packages/linux/debian/rules
  packages/linux/ypdf-tools-v2.desktop
  packages/macos/Info.plist
  packages/macos/build-macos.sh
  packages/windows/installer.nsi
  packages/windows/requirements-windows.txt
Due: none

Delete features directory
  features/__init__.py
  features/automation_engine.py
  features/language_installer.py
  features/pdf_viewer.py
  features/script_engine.py
Due: none

Delete icons directory
  icons/app_icon.icns
  icons/app_icon.ico
  icons/app_icon.png
  icons/app_icon.svg
  icons/operation_icons/compress.png
  icons/operation_icons/convert.png
  icons/operation_icons/merge.png
  icons/operation_icons/split.png
  icons/tray_icon.png
Due: none

Delete assets directory
  assets/logo/logo-dark.png
  assets/logo/logo-light.png
  assets/logo/logo.svg
  assets/screenshots/main-interface.png
  assets/screenshots/pdf-viewer.png
  assets/screenshots/settings-dialog.png
  assets/screenshots/themes-showcase.png
Due: none

Create App.css
  web/src/App.css
Due: prettier

Update package.json
  web/package.json
Due: prettier

Update vite.config.js
  web/vite.config.js
Due: eslint, prettier

Delete .github/workflows/tests.yml
  .github/workflows/tests.yml
Due: none

Delete .github/workflows/build-packages.yml
  .github/workflows/build-packages.yml
Due: none

Delete .github/workflows/build-appimage.yml
  .github/workflows/build-appimage.yml
Due: none

Delete .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

Delete .github/workflows/label_pr.yml
  .github/workflows/label_pr.yml
Due: none

Add files via upload
  docs/images/logo.png
Due: none

Update EmbeddedPDFViewer.jsx
  web/src/components/EmbeddedPDFViewer.jsx
Due: eslint, prettier

Create tailwind.config.js
  web/tailwind.config.js
Due: eslint, prettier

Path conditions:
  eslint: any of: ^web/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^web/.*\.(js|jsx|ts|tsx|json|css|md)$
